:root {
  --primary-color: #2e2f42;
  --logo-colop: #4d5ae5;
  --hover-color: #404bbf;
  --addres-color: #434455;
  --background-color: #f4f4fd;
  --hero-text-color: #fff;
}

body {
  font-family: 'Roboto', sans-serif;
  font-size: 16px;
  font-weight: 400;
  line-height: 1, 5px;
  letter-spacing: 0, 02em;
  color: #434455;
  background-color: #fff;
}

ul {
  list-style-type: none;
}

h2 {
  color: var(--primary-color);
  text-align: center;
  font-size: 36px;
  font-weight: 700;
  line-height: 1, 2px;
  text-transform: capitalize;
}

.nav .logo {
  color: var(--primary-color);
  font-family: 'Raleway', sans-serif;
  font-size: 18px;
  font-weight: 700;
  line-height: 1, 17px;
  letter-spacing: 0, 03em;
  text-transform: uppercase;
  text-decoration: none;
}

.nav .logo-blue {
  color: var(--logo-colop);
}

.nav .nav-link {
  color: var(--primary-color);
  font-weight: 500;
  text-decoration: none;
}

.nav .nav-link:hover,
.nav .nav-link:focus {
  color: var(--hover-color);
  text-decoration: underline;
}

.addres .addres-link {
  color: var(--addres-color);
  text-decoration: none;
  font-style: normal;
}

.addres .addres-link:hover,
.addres .addres-link:focus {
  color: var(--hover-color);
}

.hero {
  background-color: var(--primary-color);
}
.hero .hero-title {
  color: var(--hero-text-color);
  text-align: center;
  font-size: 56px;
  font-weight: 700;
  line-height: 1, 07px;
}

.hero .hero-button {
  color: var(--hero-text-color);
  font-weight: 500;
  letter-spacing: 0, 04em;
  background-color: var(--logo-colop);
  text-align: center;
}

.hero .hero-button:hover,
.hero .hero-button:focus {
  background-color: var(--hover-color);
  cursor: pointer;
}

.advantages .advantages-title {
  color: var(--primary-color);
  font-size: 20px;
  font-weight: 500;
  line-height: 1, 2px;
}

.team {
  background-color: var(--background-color);
}

.team .team-title {
  color: var(--primary-color);
  text-align: center;
  font-size: 20px;
  font-weight: 500;
  line-height: 1, 2px;
  text-transform: capitalize;
}

.team .team-text {
  text-align: center;
}

.portfolio .portfolio-title {
  color: var(--primary-color);
  font-size: 20px;
  font-weight: 500;
  line-height: 1, 2px;
  text-transform: capitalize;
}

.footer {
  background-color: var(--primary-color);
}

.footer .logo {
  color: var(--background-color);
  font-family: 'Raleway', sans-serif;
  font-size: 18px;
  font-weight: 700;
  line-height: 1, 17px;
  letter-spacing: 0, 03em;
  text-transform: uppercase;
  text-decoration: none;
}

.footer .logo-blue {
  color: var(--logo-colop);
}

.footer .footer-text {
  color: var(--background-color);
}
